name: Dump Context (Reusable)

on:
  workflow_call:

jobs:
  dump-context:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dump context using composite action
        uses: LukeCarrier/test/.github/actions/dump-context@main
